<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO-DO App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>TO-DO APP</h1>
            <nav>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('register.register') }}">Register</a>
                <a href="{{ url_for('tasks.view_tasks') }}">Tasks</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <h1>TO-DO APP</h1>
        </div>
    </footer>
</body>
</html>
